.btn, .form-control {
    border-radius: 0;
}
/* 鼠标移入变色 */
li:hover {
    color: #0c9;
    background: #eee;
}
/* 选中项变色 */
.green {
    background-color: #efe;
}

li label {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #ccc;
}

.subject-question {
    background: #f9f9f9;
}

i {
    color: #66f;
}

textarea {
    resize: vertical;
}